{%extends "base.html"%}

{%block title%}About{%endblock%}

<!--Hero Section-->
{%block hero_title%}About the Team{%endblock%}
{%block hero_p%}Meet the team behind Dam Lore, learn their roles in Dam Lore's development, and take a look at some of their fun photos!{%endblock%}

{%block content%}
  <!-- About Section -->
  <section class="about">
    <h2>Meet the Team</h2>

    <!-- Team Member 1 -->
    <div class="team-member">
      <img src="./static/about/benny.png" alt="Picture of Sjoerd!">
      <div class="member-info">
        <h3>Sjoerd De Bruyn</h3>
        <p><strong>Role: Lead Developer</strong> </p>
        <p><strong>Contributions: provided most of the framework for Dam Lore, set up and managed the database, and established dynamic functionality</strong></p>
      </div>
    </div>

    <!-- Team Member 2 -->
    <div class="team-member">
      <img src="./static/about/benny.png" alt="Picture of Ben!">
      <div class="member-info">
        <h3>Benjamin Breadon</h3>
        <p><strong>Role:</strong> </p>
        <p><strong>Contributions:</strong> </p>
      </div>
    </div>

    <!-- Team Member 3 -->
    <div class="team-member">
      <img src="./static/about/lucy.jpg" alt="Here's a picture of Lucy's wonderful Cat!">
      <div class="member-info">
        <h3>Lucy Cheng</h3>
        <p><strong>Role:Front-end Developer</strong> </p>
        <p><strong>Contributions: Mission page, weekly status reports, activity sites on lore page</strong></p>
      </div>
    </div>

    <!-- Team Member 4 -->
    <div class="team-member">
      <img src="./static/about/amit.jpg" alt="Here's amit!">
      <div class="member-info">
        <h3>Amit Guha</h3>
        <p><strong>Role: Front end developer, tester, and designer</strong> </p>
        <p><strong>Contributions: Provided some stylization for Dam Lore, and crafted the tours as well as teh functionality of the tour page</strong> </p>
      </div>
    </div>

    <!-- Team Member 5 -->
    <div class="team-member">
      <img src="./static/about/michael.jpg" alt="This is Michael!">
      <div class="member-info">
        <h3>Michael Balzer</h3>
        <p><strong>Role: Front end developer and bug tester </strong> </p>
        <p><strong>Contributions: developed the front end of the tour page, perfomed some general bug testing, and worked on some styling for the site </strong> </p>
      </div>
    </div>

    <!-- Team Member 6 -->
    <div class="team-member">
      <img src="./static/about/dan.jpg" alt="Here's Dan!">
      <div class="member-info">
        <h3>Dan Quan</h3>
        <p><strong>Role: UI Tester</strong> </p>
        <p><strong>Contributions: Worked with styling of the webpage, as well as contributed to the database and map API.</strong> </p>
      </div>
    </div>

    <!-- Team Member 7 -->
    <div class="team-member">

      <img src="./static/about/benny.png" alt="This is Kairon!">
      <div class="member-info">
        <h3>Kairon Johnson</h3>
        <p><strong>Role:</strong></p>
        <p><strong>Contributions:</strong> </p>
      </div>
    </div>
  </section>
{%endblock%}
