<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dam Lore - {%block title%}{%endblock%}</title>
  <link rel="stylesheet" href="./static/style.css">
</head>
<body>

{%block content%}
{% endblock %}

      <!-- Footer -->
      <footer class="footer">
        <p>&copy; 2025 Dam Lore. All Rights Reserved.</p>
        <div class="footer-links">
          <a href="/Dam-Lore/history.html">History</a>
          <a href="/Dam-Lore/map.html">Map</a>
          <a href="/Dam-Lore/about.html">About</a>
        </div>
      </footer>
</body>
</html>
