{%extends "base.html"%}

{%block title%}History{%endblock%}

{%block content%} 
 <!-- Hero Section -->
  <header class="hero">
    <div class="hero-content">
      <h1>History of Oregon State University</h1>
      <p>Explore the rich history of Oregon State University and the significant events that shaped its legacy.</p>
      <div class="hero-links">
        <a href="/">Home</a>
        <a href="/map">Map</a>
        <a href="/about">About</a>
      </div>
    </div>
  </header>

  <!--filter form-->
  <section class ="filter">
    <form method="GET">
      <label for="tag">Filter by tag: </label>
      <select name="tag" id="tag">
        <option value="">All</option>
        {%for tag in available_tags%}
          <option value="{{tag}}" {%if tag == selected_tag%}selected{%endif%} >{{tag}}</option>
        {%endfor%}
      </select>
      <button type="submit">Apply filter</button>
    </form>
  </section>

  <!-- History Entries -->
  <section class="history">
    <h2>Historical Entries</h2>

    {%if landmarks%}
      {%for landmark in landmarks%}
        <div class="history-entry">
          <img src="{{ landmark.image_url}}" alt = "{{landmark.name}}">
          <div class="entry-info">
            <h3>{{landmark.name}}</h3>
            <p><strong>Location:</strong>{{landmark.address}}</p>
            <p><strong>Date Established:</strong> {{landmark.date}}</p>
            <p>{{landmark.info}}</p>
          </div>
        </div>
        <hr>
      {%endfor%}
    {% else %}
      <p>No historical landmarks found.</p>
    {%endif%}

  </section>
{%endblock%}