{%extends "base.html"%}

{%block title%}Home{%endblock%}

<!--Hero Section-->
{%block hero_title%}<span class="dam-title">DAM</span> <span class="lore-title">LORE</span>{%endblock%}
{%block hero_p%}Explore the rich history and culture of Oregon State University and the Corvalh3s region.{%endblock%}

{%block content%}
  <!-- Top Recommendations Section -->
  <div class="dam-lore-summary">
    <h2>What is DAM Lore?</h2>
    <p>DAM Lore provides users a few features that makes it simple and fun to explore the OSU and Corvallis Areas.
      The features included in DAM Lore are:
    </p>
      <br>
      <h3>The Lore Page</h3>
      <p>Our collection of entries we thought every student and parent should see when they're in town.</p>
      <br>
      <h3>The Map Page</h3>
      <p>An easy way to find all locations you may want to visit from our entries. It includes a serach bar, a custom map api,
        and an additional information section.
      </p>
      <br>
      <h3>The Itinerary Page</h3>
      <p>Looking at all entries can be overwhelming. Luckily, we have provided you with just the solution. Our itinerary page
        allows the user to choose from a selection of tours like the campus or culture tour to guide their Corvallis experience.
      </p>
      <br>
      <h3>The About and Mission Pages</h3>
      <p>These pages are dedicated to giving the user more information about our lovely team and a deeper explanation
        of our mission.
      </p>
      <br>
      <h3>The Engagement Page</h3>
      <p>This project is from the students for the students, and with that we want to make sure it can evolve as the study body does. The engagement page focuses on collaboration with each student
        and user that visits this page and allows you, the user, to leave comments on potential areas of interest we may have missed.
      </p>
      <br>
      <h3>The Top Recommendations</h3>
      <p>Found just below is our top recommendations of the month. These are user chosen by liking locations and provide
        the best representation of what users have been enjoying. (IN PROGRESS)
      </p>
      <br>
    <p>We as the DAM Lore Team hope you enjoy this walk through our wondeful campus and town and learn more about the place we call home!</p>
  </div>

  <section class="recommendations">
    <h2>Team Recommendations</h2>

    <div class="recommendation-item">
      <img src="image1.jpg" alt="Recommendation 1">
      <div class="recommendation-text">
        <h3>Title 1</h3>
        <p>A brief description of the first recommendation.</p>
      </div>
    </div>

    <div class="recommendation-item">
      <img src="image2.jpg" alt="Recommendation 2">
      <div class="recommendation-text">
        <h3>Title 2</h3>
        <p>A brief description of the second recommendation.</p>
      </div>
    </div>

    <div class="recommendation-item">
      <img src="image3.jpg" alt="Recommendation 3">
      <div class="recommendation-text">
        <h3>Title 3</h3>
        <p>A brief description of the third recommendation.</p>
      </div>
    </div>
  </section>

{%endblock%}
