{%extends "base.html"%}

{%block title%}Mission{%endblock%}

<!--Hero Section-->
{%block hero_title%}The Mission{%endblock%}
{%block hero_p%}Discover what DAM Lore seeks through our mission statement{%endblock%}

{%block content%}

  <!--  -->
  <section class="history">
    <h2>Our Mission</h2>

    <!-- Why we're better -->
    <div class = "mission">

      <p class = "mission_photo">
        <img src="mission.jpg" alt="map_photo">
      </p>

      <div class = "m_box">
        <p class = "mission_text">
        At Dam-Lore, our mission is to create the ultimate guide for 
        exploring the OSU campus and its surrounding areas. Unlike generic 
        tools like Google Maps, our map is crafted specifically for OSU 
        visitors—students, parents, and anyone eager to discover the heart of 
        campus life. We go beyond the basics, highlighting hidden landmarks 
        and cherished spots that often go unnoticed, complete with rich 
        historical context gathered by our team.
        </p>
 
        <p class = "mission_text">
        We're also redefining the orientation experience. 
        Say goodbye to cluttered, mismatched paper maps and confusing 
        pamphlets. Our streamlined, all-in-one map is thoughtfully designed 
        with custom icons, intuitive layouts, and detailed information to make
        navigating OSU simple, engaging, and memorable. With Dam-Lore, 
        you're not just finding your way—you're discovering the true spirit 
        of OSU. 
        </p>

      </div>

    </div>
    
  </section>


{%endblock%}