{%extends "base.html"%}

{%block title%}Mission{%endblock%}

{%block content%}
  <!-- Hero Section -->
  <header class="hero">
    <div class="hero-content">
      <h1>Mission of our team</h1>
      <div class="hero-links">
        <a href="/Dam-Lore/">Home</a>
        <a href="/Dam-Lore/map.html">Map</a>
        <a href="/Dam-Lore/about.html">About</a>
        <a href="/Dam-Lore/history.html">History</a>
      </div>
    </div>
  </header>

  <!--  -->
  <section class="history">
    <h2>Our Mission</h2>

    <!-- Why we're better -->
    
  </section>

  
{%endblock%}